<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Doqium - Server</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="stylesheet" href="/swal.css">

    <style>
        .cont {
            margin-top: 4.25%;
            align-items: center;
            align-content: center;
            text-align: center;
        }
        .breadcrumb .active {
            color: white;
        }
        #editor {
            /* width: 500px; */
            width: 100%;
            height: 60vh;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="navbar-brand">doqium</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home</a>
                    </li>
                    <% if (user.permissions>= 2) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/globalban"><i class="fa-solid fa-ban"></i> Global Ban</a>
                        </li>
                    <% } %>
                    <% if (user.permissions>= 1) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/announce"><i class="fa-solid fa-bullhorn"></i> Global Announcement</a>
                        </li>
                    <% } %>
                    <% if (user.permissions>= 1) { %>
                        <li class="nav-item">
                            <a class="nav-link" href="/rf"><i class="fa-solid fa-flag"></i> Require Flagger</a>
                        </li>
                    <% } %>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/invite" target="_blank"><i class="fa-brands fa-discord"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-end" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= user.username %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/logout" target="_blank">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="editor"></div>

    <div class="cont">
        <button type="button" class="btn btn-primary btn-lg" id="exec"><i class="fa-solid fa-play"></i></button>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="sweetalert2.all.min.js"></script>

    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'bottom-right',
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast'
            },
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true
        })
        
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/tomorrow_night_blue");
        editor.renderer.setShowGutter(true);
        editor.session.setUseWorker(false);
        editor.session.setMode("ace/mode/lua");


        var luaCode = localStorage.getItem('code') || `print("Hello World!")`;

        editor.setValue(luaCode, 1);

        function getCode() {
            return editor.getValue();
        }

        $(document).ready(() => {
            $(window).on('unload', () => {
                localStorage.setItem('code', getCode())
            })
            $("#exec").click(() => {
                $.ajax({
                    url: '/execute/',
                    type: "POST",
                    data: {
                        code: getCode(),
                        serverId: "<%= serverId %>"
                    },
                    success: (res) => {
                        localStorage.setItem('code', getCode())
                        if (res.success) {
                            Toast.fire({
                                icon: 'success',
                                title: `Successfully executed the code.`,
                            });
                        } else {
                            if(res.reload) return window.location.reload();
                            Toast.fire({
                                icon: 'error',
                                title: res.message,
                            });
                        }
                    },
                    error: (xhr, status, error) => {
                        localStorage.setItem('code', getCode())
                        Toast.fire({
                            icon: 'error',
                            title: 'Couldn\'t execute.'
                        });
                    }
                })
            })
        })
    </script>
</body>

</html>